---
---

* {
  font-family: 'Montserrat', sans-serif;
}

body{
  background: url('/assets/img/background.png');
  margin: 0;
  padding: 1rem;
}

main {
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  max-width: 800px;
  margin: auto;
}

h1,h2,h3,h4,h5 {
  text-transform: uppercase;
}