---
---

@import "normalize.css";

* {
  font-family: 'Montserrat', sans-serif;
}

body{
  background: url('assets/img/background.png');
  margin: 0;
}

main {
  margin: 1rem;
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}