<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta name="theme-color" content="{{site.accent_color}}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"/>
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">
    <meta name="description" content="{{ page.description | default: site.description  }}">
  </head>
  <body>
    <main>{{ content }}
      <br>
      Last document modification: {{ page.time | date: '%B %d, %Y' }}.
    </main>
  </body>
</html>
